.inputter{
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 100px;
    grid-auto-flow: column;
    margin-top: 40px;
}

.submitBtnDiv{
    display: grid;
    justify-content: center;
    align-content: center;
}

.text{
    display: block;
    left: 50%;
    height: 5vh;
    text-align: center;
}